@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="https://cftestatalaricayparinacota.cl/wp-content/uploads/2022/01/logo_fix.jpg" alt="W3Schools.com" style="width:500px;height:300px;">
    <h1 style="color:orangered" class="display-1">Bienvenido</h1>
    <p style="color:black">
        Al Sistema De Matricula Del Año 2023<br>
        <br /><a class="btn btn-success" href="https://localhost:7240/estudiantes">Registro Estudiantes</a>
    </p>
    <p>
        <a class="btn btn-warning" href="https://localhost:7240/asignaturas">Registro Asignaturas</a>

    </p>
</div>
